<header class="text-center">
  <h1>Open Vagas</h1>
  <p>Mural de vagas compartilhadas pela comunidade</p>
</header>

<%= simple_form_for :search, url: home_index_path, method: :get, html: { class: 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="col-sm">
      <%= f.input :carreira, label: 'Carreira', placeholder: 'Carreira', input_html: { class: 'form-control' } %>
    </div>
    <div class="col-sm">
      <%= f.input :localidade, label: 'Localidade', placeholder: 'Localidade', input_html: { class: 'form-control' } %>
    </div>
    <div class="col-sm">
      <%= f.input :local_trabalho, label: 'Local de trabalho', placeholder: 'Local de trabalho', input_html: { class: 'form-control' } %>
    </div>
    <div class="col-sm">
      <%= f.button :submit, 'Pesquisar', class: 'btn btn-danger', style: 'margin-top:31px;' %>
    </div>
  </div>
<% end %>

  <% @positions.each do |position| %>
    <%= render position %>
<% end %>
